rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read and write access for now.
      // WARNING: This is insecure for production.
      // You should secure this before launching your app.
      allow read, write: if true;
    }
  }
}
